# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Cloudinary Configuration
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=""
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=""
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME_1=""
CLOUDINARY_API_KEY_1=""
CLOUDINARY_SECRET_1=""
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME_2=""
CLOUDINARY_API_KEY_2=""
CLOUDINARY_SECRET_2=""
CLOUDINARY_API_KEY=""
CLOUDINARY_SECRET=""

# Crypto Configuration
CRYPTO_SECRET=""
NEXT_PUBLIC_CRYPTO_SECRET=""

# Email Configuration
EMAIL_HOST=""
EMAIL_USER=""
EMAIL_PASSWORD=""
EMAIL_PORT=""
EMAIL_SECURE=""

# JWT Configuration
JWT_SECRET=""

# MongoDB Configuration
MONGODB_URI=""

# KV Configuration
KV_URL=""
KV_REST_API_URL=""
KV_REST_API_TOKEN=""
KV_REST_API_READ_ONLY_TOKEN=""

# Server Configuration
SERVER_URL=""